button {
     padding: 5px 10px;
      background-color: bisque;
      font-weight: bolder;
       border: 1px solid bisque;
      font-family: Arial, sans-serif;
      border-radius: 15px;
}
.table1 {
    border: 3px solid burlywood;
    border-radius: 15px;
    border-collapse: separate; 
    border-spacing: 0;         
    width: 80%;
    text-align: center;
    overflow: hidden;          
    background-color:rgb(170, 147, 113);   
}
.header1{
    position: fixed;
}
.table3{
border: 3px solid burlywood;
    border-radius: 15px;
    border-collapse: separate; 
    border-spacing: 0;         
    width: 80%;
    text-align: center;
    overflow: hidden;          
    background-color:rgb(170, 147, 113);
}
.table4{
    border-color: brown;
    border-radius: 15px;
    border-collapse: separate; 
    border-spacing: 0;         
    width: 80%;
    text-align: center;
    overflow: hidden;          
    background-color:rgb(170, 147, 113);   
}
.table5{
border: 3px solid burlywood;
    border-radius: 15px;
    border-collapse: separate; 
    border-spacing: 0;         
    width: 80%;
    text-align: center;
    overflow: hidden;          
    background-color:rgb(170, 147, 113);
}